{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Musical Blog</h1>
        <p class="lead">This blog is created to discuss music theory and home production techniques.</p>
        <hr class="my-4">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum suscipit mauris ligula, et vulputate odio dignissim non. Nulla finibus ligula enim, eget aliquet diam efficitur sit amet. Etiam vitae nisl eu magna malesuada accumsan. Donec posuere mi ac ultrices viverra. Vivamus orci ligula, viverra in erat non, sollicitudin mattis sem. Aliquam non est viverra, fermentum nunc nec, tempor lectus. Pellentesque faucibus, augue et feugiat sollicitudin, risus dui blandit quam, ac volutpat sem urna sit amet augue. Integer pretium congue ex, eget tempus mi condimentum vel. Aenean sed eros hendrerit, ultrices enim a, blandit libero.
            <br>                                
            Etiam et fermentum est. Sed non pretium ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam nibh metus, aliquam dapibus consectetur quis, faucibus non ex. Donec commodo dolor eu sem rutrum sollicitudin. Mauris eu orci lectus. Suspendisse potenti. Morbi quis diam orci. Donec dui nibh, tempor ut scelerisque sed, dapibus ut nisi. Quisque finibus ut lectus et faucibus.
            <br>                
            Curabitur et lorem mattis, mattis est at, sagittis nisi. Integer molestie, sem quis ullamcorper rhoncus, diam felis volutpat dui, ut ultrices massa orci pretium sem. Nullam pharetra urna nec nibh auctor iaculis. Vivamus commodo dolor et elit fringilla, eget placerat nisi venenatis. Vivamus tempor commodo risus laoreet porttitor. Duis eu lacus felis. Sed in risus eget metus varius malesuada eget sit amet eros. Sed arcu felis, tincidunt eu ipsum ut, condimentum ultrices justo.
            <br>                
            Integer varius faucibus dictum. Duis vitae commodo nulla, non ullamcorper urna. Cras tortor velit, ultrices quis eleifend rutrum, aliquet rhoncus est. Maecenas nunc urna, suscipit quis convallis et, mollis sed mi. Nunc non felis finibus, egestas mi pharetra, ultrices velit. Curabitur nec gravida massa, non faucibus nunc. Aenean a magna mi. Praesent ac augue elit. Nunc nulla leo, dignissim in hendrerit id, sagittis ac ex. Curabitur ornare condimentum scelerisque.
            <br>                
            Ut ultricies imperdiet maximus. Curabitur scelerisque urna et varius fermentum. Sed sit amet lorem cursus, varius est nec, ultrices dui. Donec vitae risus at nibh vulputate rhoncus sed id quam. Donec risus lorem, faucibus ut arcu in, sollicitudin maximus ante. Integer lacinia semper tortor, ac cursus nisi semper in. Aenean dignissim risus risus, id pretium risus imperdiet eu. Ut orci enim, iaculis nec diam ut, fringilla varius odio. Vestibulum facilisis velit aliquet iaculis convallis. Phasellus at placerat neque, eu malesuada felis. Morbi eget commodo ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis maximus dolor. Maecenas vehicula arcu at ante luctus scelerisque. Maecenas euismod diam ac ex convallis lacinia. Cras sagittis nec lacus nec vestibulum.
        </p>
    </div>
{% endblock %}
